*{
  margin: 0;
  padding: 0;
  
  
  }

  /// Fotos. 

  .texto{
    text-aling:center;
  }
  
  .Pictures {
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
    margin-left:60px;
    margin-top:200px;
  }

  .Pics img{
    border-radius:10px;
  }
  
  @media screen and (min-width: 768px) {
    .Pictures {
      grid-template-columns: repeat(3, 1fr);
      margin-left:250px;
      margin-top:260px;
    }
  }
  
  

  




:root {
    --background: #FFFFFF;
    --text-color: rgb(87 83 78);
  }
  
  [data-theme="dark"] {
    --background: #000000;
    --text-color: #FFFFFF;
  }
/* Aplicar los estilos usando las variables CSS */
body {
    background-color: var(--background);
    transition: background-color 0.3s ease-in-out;
  }

.App {
  background-color: var(--background);
  transition: background-color 0.3s ease-in-out;
}

.text-[var(--text-color)] {
    color: var(--text-color);
    transition: color 0.3s ease-in-out;
  }

/* Estilos adicionales para el toggle */
.dark-mode-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #030f18;
}

input:focus + .slider {
  box-shadow: 0 0 1px #030f18;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}