@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grape: rgb(114, 35, 204);
  --text-color: rgb(87, 83, 78);
  --titulo-color: #000000;
}

[data-theme="dark"] {
  --text-color: #e7e5e4;
  --titulo-color: #ffffff;
}


  
  